.flexbox-container-1{
    border:1px solid black;
    display:flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction:row;
}
.flexbox-container-1  div {
padding:10px;
    border:1px solid black;
    display:flex;
}
.container-1{
    border: 1px solid black;
}